<html>
    <head>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <style>
            body{
                padding: 20px 100px;
                max-width: 700px;
                font-family: arial, sans-serif;
            }

            .result{
                font-weight: bolder;
            }

            #status{
                font-weight: 100;
            }
            .ongoing{
                font-size: 0.9em;
            }

            .failed{
                color: red;
            }

            .success{
                color: green;
            }

            #resultArea{
                margin: 20px 0 40px;
            }

            .test{
                font-size: 1.1em;
            }

            .error{
                margin-bottom: 30px;
            }

            .error .test{
                font-weight: bold;
            }
            a, a:visited{
                color: black;
            }

            #detail{
                font-size: 0.6em;
            }
        </style>
    </head>
    <body>
        <h1>BoondManager Tests: <span id="status" class="ongoing">ongoing</span></h1>

        <div id="resultArea"></div>
        <div id="errors"></div>
        <script>
            var tests = <?= json_encode($paths); ?>;
            var $status = $('#status'), $results=$('#resultArea'), $errors = $('#errors');
            var failed = 0;
            var success = 0;

            function doTest(){
                if(!tests.length){
                    $status.removeClass('ongoing').text('');
                    if($errors.children().length==0) $status.append($('<span>').addClass('success').text('Success'));
                    else $status.append($('<span>').addClass('failed').text('Failed'));

                    $('<div>').attr('id','summary')
                        .append($('<div>').html('Tests passed with success: <strong class="success">'+success+'</strong>'))
                        .append($('<div>').html('Failed tests: <strong class="failed">'+failed+'</strong>'))
                        .append($('<div>').html('Total tests: <strong class="total">'+(failed+success)+'</strong>'))
                        .insertBefore($results);
                    return;
                }else{
                    $status.html('ongoing <div id="detail">'+tests[0]+'</div>');
                }
                var test = tests.shift();
                $.ajax(test, {
                    success: function(result){
                        var $r = $(result);
                        var testName = $r.closest('h3').html();
                        var parts = testName.split('/');
                        parts.shift();
                        testName = '<a href="'+parts.join('/')+'">'+testName+'</a>';
                        $r.find('tr').each(function(){
                            var $item = $(this);
                            if ($item.find('.result').hasClass('successful')) {
                                success++;
                                $results.append('<span class="result success">.</span>');
                            } else {
                                failed++;
                                if (failed == 1) {
                                    $errors.append('<h2>Errors Details:</h2>');
                                }
                                $results.append('<span class="result failed">X</span>');
                                $errors.append('<div class="error"><div class="test">' + testName + '</div><div class="failed">' + $item.find('.test').text() + '</div><div class="source">' + $item.find('.source').text() + '</div></div>');
                            }
                        });
                        doTest();
                    },
                    error: function(result){
                        if(result.responseJSON) result = result.responseJSON.meta.error;
                        else{
                            result = {
                                code: result.status,
                                text: result.statusText,
                                trace: ['']
                            }
                        }
                        $errors.append('<div class="error failed"><div class="test failed">' + test + ': '+result.status+' ('+result.code+')</div><div class="failed">' + result.text + '</div><div class="source">' + result.trace[0] + '</div></div>');
                    }
                });
            }
            doTest();
        </script>
    </body>
</html>
